<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>reportLost</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">

  <h1>Report lost items</h1>
  
  <div>
    <ion-list>
      <ion-list>
        <ion-item>
          <ion-input [(ngModel)]="item.itemName" name="itemName" label="Item name" placeholder="Item name" required="true"></ion-input>
        </ion-item>
  
  
        <ion-item>
          <ion-input [(ngModel)]="item.itemLocLost" name="locLost" label="Location of lost" placeholder="Hall B.." required="true"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-input [(ngModel)]="item.itemLostDate" name="dateLost" label="Date of lost" type="date" placeholder="DD/MM/YYYY" required="true"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-textarea [(ngModel)]="item.itemDesc" name="itemDesc" label="item descriptions" placeholder="describe the items.." required="true"></ion-textarea>
        </ion-item>
      </ion-list>
      <ion-button (click)="registeritem()" shape="round">Submit</ion-button>
    </ion-list>

  </div>
  
</ion-content>
