<!-- item-details.page.html -->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>item-details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Display item details if itemDetails is not null -->
  <div class="itemContainer" *ngIf="itemDetails">
    <div class="itemImg">
      <!-- Display item image or a placeholder if not available -->
      <img [src]="itemDetails.itemPic || 'https://ionicframework.com/docs/img/demos/card-media.png'" alt="{{itemDetails.itemName}}">
    </div>
    <div class="itemDetails">
      <!-- Display item name and location -->
      <h1>{{itemDetails.itemName}}</h1>
      <h4>{{itemDetails.itemLocLost}}</h4>
      <p>{{itemDetails.itemDesc}}</p>
    </div>
  </div>
</ion-content>
