ion-content{
    --ion-background-color: rgb(228,227,234);
    --ion-background-color: linear-gradient(180deg, rgba(228,227,234,1) 0%, rgba(21,68,1,1) 0%, rgba(15,47,1,1) 63%, rgba(11,35,1,1) 92%, rgba(0,0,0,1) 100%);
    .body{
        display: flex;
        flex-direction: column;
        gap: 2em;
        padding: 55% 0;

        .title{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2em;
        
            .loginProfile{
                width: 100px;
                height: 100px;
                background-size: cover;
                object-fit: cover;
                border-radius:100% ;
            }
        }
        .formContainer{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;
            justify-content: center;
    
            span{
                display: flex;
                gap: 20px;
                flex-direction: column;
                align-items: center;
    
                input{
                    border-radius: 7px;
                    padding: 0.3em 0.6em;
                    background-color: aliceblue;
                    color: black;
    
                }
            }
            button{
                padding: 1em 2em;
                border-radius: 7px;
                background-color: rgb(54, 109, 48);
            }
        }
    }
    

    
}
